#bodyTable tr {
  animation: pop 300ms forwards;
}

#delete-alert {
  display: flex;
  animation: pop 300ms forwards;
}

#delete-alert.hidden {
  display: none;
}

@keyframes pop {
  0% {
    transform: scale(0);
  }

  80% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes unpop {
  0% {
    transform: scale(1);
  }
  
  25% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(0);
  }
}

table td:nth-last-child(1), table th:nth-last-child(1) {
  padding-left: 80px !important;
}

table th:nth-last-child(1) {
  width: 0 !important;
}

.person__actions {
  display: flex;
  gap: 10px;
}

.unpop {
  animation: unpop 300ms forwards !important;
}