#bodyTable tr {
  animation: pop 300ms forwards;
}

#delete-alert {
  display: flex;
  animation: pop 300ms forwards;
}

#delete-alert.hidden {
  display: none;
}

@keyframes pop {
  0% {
    transform: scale(0);
  }

  80% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

table td, table th {
  padding-right: 40px !important;
  padding-left: 40px !important;
}

table td:nth-child(1), table th:nth-child(1) {
  padding-left: 20px !important;
}

table td:nth-last-child(1), table th:nth-last-child(1) {
  padding-right: 20px !important;
}

.person__actions {
  display: flex;
  gap: 10px;
}